.page {
  margin: auto;
  max-width: 1600px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 10fr;
  column-gap: 20px;
  margin-top: 150px;
}
.filter {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  height: 100%;
}
.box {
  display: flex;
  align-items: center;
  column-gap: 20px;
  cursor: pointer;
}
.activ {
  width: 20px;
  height: 20px;
  background-color: red;
}

.activ_not {
  width: 20px;
  height: 20px;
  background-color: green;
}
.leaflet-control-attribution {
  display: none;
}
