*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 220px 1fr;
  column-gap: 45px;
  margin-top: 70px;
  padding: 0 50px;
  margin-bottom: 40px;
}
.page__filters{
  width: 100%;
}
.filter {
  width: 100%;
  min-width: 220px;
  height: 300px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  display: flex;
  align-items: start;
  flex-direction: column;
  background-color: #fff;
  row-gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  row-gap: 25px;

}
.filter__title{
  font-family: "Inter";
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #000;

}
.box {
  display: flex;
  align-items: center;
  column-gap: 20px;
  cursor: pointer;
  width: 100%;
  padding: 0 5px ;
  height: 23px;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 15px;
  line-height: 150%;
  color: #000;
  transition: 0.2s;
}
.box__activ{
  background-color: #63C04C;
  font-weight: 700;
  font-size: 15px;
  line-height: 150%;
  color: #fff;
}
.filter__block{
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 5px;
}
.leaflet-control-attribution {
  display: none;
}
.prices{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.prices__block{
  padding: 7px 27px;
  font-weight: 600;
  border: none;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  color: #000;
  font-size: 15px;
  cursor: pointer;
}
.prices__block_activ{
  background-color: #63C04C;
  border: none;
  color: #fff;

}

@media screen and (max-width: 700px){
  .page{
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    margin-top: 40px;
    row-gap: 30px;
    padding: 0 20px;
  }
  .filter{
    
    width: 100%;
    height: 100%;
  }
  .filter__title{
    font-size: 15px;
    
  }

}